*{
    padding: 0;
    margin: 0;
}
html,
body{
    height: 100%;
}
#app{
    height: 100%;
}
header{
     height: 60px;
    line-height: 60px;
    padding-left: 20px;
    width: 100%;
    background-color: #FFB6C1;
    color: white;
    box-sizing: border-box; 
}
.body{
    display: flex;
}